<ion-header>
  <div id="right-box">
    <img src="./assets/logo-multitech.png" alt="logo" id="logo">
    <input type="text" placeholder="Buscar produto" id="searchbar">
  </div>

  <div id="left-box">
    <div id="login-box">
      <ion-icon name="person-circle"></ion-icon>
      <p>Faça  <a href="/login">LOGIN</a>  ou <br> crie seu <a href="">cadastro</a></p>
    </div>

    <div id="favorite-box">
      <ion-icon name="heart"></ion-icon>
    </div>

    <div id="cart-box">
      <ion-icon name="cart"></ion-icon>
    </div>
  </div>

</ion-header>