<ion-content [fullscreen]="true">
  <main>
    <ion-card id="signup-box">
      <ion-card-header>
        <ion-card-title class="selected-signup">Signup</ion-card-title>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-input label="Username:" labelPlacement="stacked"></ion-input>
        <ion-input label="Email:" labelPlacement="stacked"></ion-input>
        <ion-input label="Password:" labelPlacement="stacked"></ion-input>

        <ion-button>Signup</ion-button>
        <span>Already have an account? <a href="">Login</a></span>

        <ion-button color="dark">
          <ion-icon name="logo-google"></ion-icon>
          Login with Google
        </ion-button>
      </ion-card-content>
    </ion-card>
  </main>
</ion-content>
